.mainContainer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.animeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  max-width: 1280px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #c7ccd1;

  font-size: 1rem;
  cursor: pointer;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  background-color: transparent;
  transition: border-bottom-color 0.3s ease;
}

.searchInput:focus {
  outline: none;
  border-bottom-color: #1976d2;
}

.searchInput::placeholder {
  color: #9e9e9e;
}
