.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.rightContainer {
  flex-grow: 1;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.genres {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.genreBadge {
  background: #eee;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.metadataContainer {
  display: flex;
  flex-direction: row;
}

.metadata {
  flex-grow: 1;
}

.subTitle {
  font-weight: 700;
}
